<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">URL-SHORTENER</span>
    <% if user_signed_in? %>
			<%= button_to 'logout', destroy_user_session_path, method: :delete, id: "button-logout" %>
	<% end %>
  </div>
</nav>